@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  background-color: #e7f5ff;
}

.container {
  background-color: #7030cb;
  color: #fff;
  padding: 0 10vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  height: 8rem;
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-right: 3rem;
}
.header__list-item {
  font-size: 1rem;
  font-weight: 300;
}
.header__list-item:hover {
  color: #19bcef;
  font-weight: 400;
}
.header__btn {
  background-color: #19bcef;
  color: #fff;
  padding: 0.7rem 1.1rem;
  text-decoration: none;
  font-size: 0.8rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.hero__left {
  margin-top: 3rem;
}
.hero__left-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  width: 80%;
}
.hero__left-text {
  margin-top: 2rem;
  font-size: 0.7rem;
  width: 70%;
  line-height: 1.6;
  color: #dee2e6;
}
.hero__right {
  width: 80%;
  object-fit: cover;
  overflow: hidden;
}
.hero__right-img {
  width: 100%;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4rem 10vw;
}
.features__left {
  width: 50%;
}
.features__left-img {
  height: 30rem;
}
.features__right {
  margin-top: 3rem;
}
.features__right-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.features__right-box {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
.features__right-box ion-icon {
  font-size: 1.2rem;
}
.features__right-box .icon1 {
  color: #f28f48;
}
.features__right-box .icon2 {
  color: #82cd48;
}
.features__right-box .icon3 {
  color: #19bcef;
}
.features__right-box .heading {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.features__right-box .text {
  font-size: 0.8rem;
  width: 60%;
}

.product {
  text-align: center;
  margin: 4rem 10vw;
}
.product__heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
.product__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__cards-card {
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  transition: all 0.3s;
}
.product__cards-card:hover {
  box-shadow: -0.3rem -0.3rem 0.5rem rgba(0, 0, 0, 0.4);
}
.product__cards-card:hover .info-container {
  background-color: #7030cb;
  border-radius: 1rem;
  color: #fff;
}
.product__cards-card:hover .info-container .card-text {
  color: #fff;
}
.product__cards-card .svg1 {
  background-color: #f3d9fa;
}
.product__cards-card .svg2 {
  background-color: #d0ebff;
}
.product__cards-card .svg3 {
  background-color: #dbe4ff;
}
.product__cards-card .svg4 {
  background-color: #c3fae8;
}
.product__cards-card .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0.7rem;
}
.product__cards-card .info-container .card-heading {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.product__cards-card .info-container .card-text {
  font-size: 0.7rem;
  font-weight: 400;
  color: #495057;
  width: 60%;
}
.product .svg-container {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .svg-container img {
  height: 3rem;
}
.product .svg-container .svg-icon1 {
  color: #e599f7;
}

/*# sourceMappingURL=style.css.map */
